<html>

<head></head>

<body>
    <form action="ajoutArgent">
        <h1>Ajouter de l'argent sur le compte</h1>
        <input type="number" name="txtAjouter" value="0">
        </br>
        </br>
        <button type="submit" action="ajoutArgent">Valider</button>
    </form>

    
</body>

</html>