<html>

<head></head>

<body>
    <form action="retraitArgent">
        <h1>Retirer de l'argent sur le compte</h1>
        <input type="number" name="txtRetirer">
        </br>
        </br>
        <button type="submit">Valider</button>

    </form>
</body>

</html>